{% extends 'base.html.twig' %}

{% block title %}
    Store
{% endblock %}
{% block body %}
    <div class="jumbotron text-center" style="font-family: 'Bahnschrift',Serif,serif">
        <h1>Welcome!</h1>
        <h5>Find your home in our website</h5>
    </div>
<div class="container">
    <h2>OUR LATEST!</h2>
    <div class="row flex">
        {% for property in property %}
        <div class="col-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"> <a href="{{ path('property.show',{id: property.id,slug: property.slug}) }}">{{ property.title }}</a></h5>
                    <p class="card-text">{{ property.city }} ({{ property.postalCode }})</p>
                    <div class="text-primary" style="font-weight: bold;font-size: 2rem">{{ property.formattedPrice}}$</div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}