{% extends 'base.html.twig' %}
    {% block body %}
        <div class="container mt-4">
            <h1>Generate Options</h1>
            <div class="alert-success">
                {% for msg in app.flashes('success') %}
                    <div class="alert alert-success">
                        {{ msg }}
                    </div>
                {% endfor %}
            </div>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Nom</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for opt in options %}
                <tr>
                    <td>{{ opt.name }}</td>
                    <td>
                        <a href="{{ path('option.edit', { id: opt.id}) }}" class="btn btn-primary">Edite</a>
                        <form method="post" action="{{ path('option.delete',{id:opt.id}) }}" style="display:inline-block" onsubmit="return confirm('ARE YOU SURE!?')">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete') }}">
                            <button class="btn btn-danger">DELETE</button>
                        </form>
                    </td>
                </tr>

                </tbody>
                {% endfor %}
            </table>
            <div class="text-right">
                <a href="{{ path('option.new') }}" class="btn btn-primary">CREATE OPTION</a>
            </div>
        </div>
    {% endblock body %}
